/* Home */
body{
    padding: 0;
    margin: 0;
}
header {
    /* background-color:blue; */
      background-color:#4eb9e4;
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }

  .nav-bar ul li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    background-color: rgb(78, 78, 208);
    border-radius: 10px;
    margin: 10px;
    
  }
  .nav-bar a{
    color: white;
    text-decoration: none;
  }
  
.about-section{
    display: flex;
    /* background-color:#a8d1e1; */
    background-color:#c6e1eb;
    padding-bottom: 100px;
}
/* .about{
    border: 1px solid red;
} */
 img{
    border-radius: 100%;
    /* padding-top: 10px; */
}
#about-1{
    flex-grow: 0.5;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
#about-2{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 20px;
    text-align: justify;
   font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Skills */
#skills-main{
    background-color:#c6e1eb;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding-bottom: 50px;
    
}
.skill-section{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
    font-size: 18px;
    
}
.skill-section:hover{
    background-color: white;
    transform: scale(1.1);
}

/* Project */
#project{
    background-color:#cce2eb;
    display: grid;
    grid-template-columns: 1000px;
   
}
.project-section{
    border: 1px solid rgb(151, 146, 146);
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size:18px ;
}

/* contact-form */

   #contact-form {
        background-color:#c6e1eb;
        display: flex;
        justify-content: center;
        height: 500px;
        align-items: center;
    }
    .form-container {
        border: 2px solid black;
        border-radius: 10px;
        width: 400px;
        padding: 10px 20px;
    }
    .form-container h1{
        text-align: center;
       margin-bottom: 50px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    
    .form-section {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    /* label{
        flex-grow: 0.5;
    } */
    input {
        flex-grow: 1;
        padding: 8px;
        margin-left: 10px;
        border: 1px solid;
        border-radius: 4px;
    }
    
    .button-container {
        display: flex;
        justify-content:space-evenly;
    }
    
    button {
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    button[type="submit"] {
        background-color: #38e33e;
        color: white;
    }
    
    button[type="reset"] {
        background-color: #b67171;
        color: white;
    }
